*{
    box-sizing: border-box;
    margin: 0;padding: 0;
    font-family: serif;
}
.fl{
    justify-content: center;
    align-items: center;
    display: flex;
}
.fo {
    padding: 50px !important;
    border-radius: 0.2rem;
    background-color: rgba(44, 44, 44, 0.395);
}
body{ 
     background-repeat:repeat-y;
     background-size:cover ; 
    background-image: url(trunking_bw_2560x1440.png); 
}


.form-control{ border: none !important;
background-color: rgba(171, 171, 171, 0.17) !important;

}
input{
    color: rgb(223, 221, 217) !important;
}
button{ border: none!important;
    background-color: rgb(41, 40, 43) !important;
}

label{ 
    font-size: 16px;
}
    
@media (max-width:911px) {
    body{
        background-repeat: repeat-y;
        background-size: cover;
    }

label
{
    font-size: 54%;
}




}