*{
    box-sizing: border-box;
    margin: 0;padding: 0;
    font-family: serif;
}
.fl{
    justify-content: center;
    align-items: center;
    display: flex;
}
.fo {
    padding: 40px !important;
    border-radius: 0.2rem;
    background-color: rgba(44, 44, 44, 0.395);
}
body{ 
     background-repeat: no-repeat;
  
    background-image: url("fancy-pants.jpg"); 
}


.form-control{ border: none !important;
background-color: rgba(171, 171, 171, 0.17) !important;
padding-left: 10px !important;
padding-right: 60px !important;
}
input{
    color: rgb(223, 221, 217) !important;
}
button{ border: none!important;
    background-color: rgb(41, 40, 43) !important;
}
@media (max-width:911px) {
    body{
        background-repeat: repeat-x;
    }
    
}